<div class="container mb60 animated fadeIn fast">
	<div class="row">
		<div class="col-md-12">
			<h1 class="brand-header brand-header-md serif-bold">Profile Created!</h1>
		</div>
	</div>
	<div class="row mt50">
		<div class="col-md-12">
			<div class="profile-preview-container mb30">
				<img src="assets/img/dp.jpg" class="dp circular">
				<h4 class="section-desc-lg font-bold m0 mb10 c-grey-dark relative t5">Anoop Sethumadhavan</h4>
				<p class="section-desc-md c-grey-semi-dark">Product Designer & UI Developer, Bengaluru</p>
			</div>
		</div>
		<div class="col-md-8 pledge-desc-container c-grey-semi-dark">
			<p class="pledge-desc relative">
				Hi Anoop, your profile has been created successfully. Please be patient while our team authorise your profile and add it to our verified listings. This might take a few hours.
			</p>
		</div>
		<div class="col-md-1">
			
		</div>
		<div class="col-md-3 align-right">

		</div>
	</div>
	<div class="row mt40">
		<div class="col-md-3">
			<a class="btn btn-primary">
				Go to dashboard
			</a>
		</div>
	</div>
</div>


