<div class="container mb60 animated fadeIn fast">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12">
					<h1 class="brand-header brand-header-md serif-bold">Message Sent!</h1>
				</div>
			</div>
			<div class="row mt60">
				<div class="col-md-12 pledge-desc-container c-grey-semi-dark">
					<p class="pledge-desc relative">
						<span class="icon-check-filled c-green mr5"></span>Hi Stephen, your message has been sent successfully to Anoop. You'll receive a copy of response of the as well.
					</p>
					<p class="pledge-desc mt30">
						Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.
					</p>
				</div>
			</div>
			<div class="row mt40">
				<div class="col-md-4">
					<a class="btn btn-primary">
						Go to dashboard
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


