$FONT-BASE: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

$FONT-SERIF: 'Playfair Display', serif;

$BLACK: #222;
$GREY-DARK: #333;
$GREY-SEMI-DARK: #666;
$GREY-NO-DARK: #bbb;
$BRAND-PRIMARY: #50e3c2;
$BRAND-PRIMARY-LIGHT: #b9f4e7;
$BRAND-PRIMARY-DARK: #45c1a5;
$WHITE: #fff;
$GREEN: #5fce67;