.pledge-desc{
	font-weight: 300;
	font-size: 2.6rem;
	line-height: 1.9;
	color: #333;
}
textarea.pledge-desc-input { 
	font-size: 2.0rem;
	border: transparent;
	padding: 0px;
	//border-bottom: 2px dotted #ccc;
	box-shadow: none;
	outline: none;
	margin: 0px 0px;
	width: 100%;
	color: #333;
	border-radius: 0px;
	border: 2px solid #fff;
	resize: none;
	&::placeholder{
		color: #ccc;
	}
	// &:focus{
	// 	border-bottom: 2px solid #50e3c2;
	// }
}
.pledge-desc-help-text{
	color: #45c1a5;
	font-size: 1.4rem;
	position: absolute;
	top: -30px;
	left: 15px;
	right: 0px;
}