<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="assets/img/landing-hero.png" class="landing-hero">
		</div>
		<div class="col-md-6">
			<div class="mt40">
				<h1 class="brand-header">Kerala needs</h1>
				<h1 class="brand-header">Your Time</h1>
			</div>
			<div class="mt30">
				<p class="section-desc-lg">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
			<div class="row mt30">
				<div class="col-md-5">
					<a class="btn btn-primary">
						Pledge your time
					</a>
				</div>
			</div>
			<div class="row mt30">
				<div class="col-md-3">
					<h3 class="relative display-table section-header-md brand-hightlight-separator">672</h3>
					<p class="section-desc-md serif-regular c-grey-dark mt25">People</p>
				</div>
				<div class="col-md-3">
					<h3 class="relative display-table section-header-md brand-hightlight-separator">238</h3>
					<p class="section-desc-md serif-regular c-grey-dark mt25">Projects</p>
				</div>
				<div class="col-md-3">
					<h3 class="relative display-table section-header-md brand-hightlight-separator">480K</h3>
					<p class="section-desc-md serif-regular c-grey-dark mt25">Fund Raised</p>
				</div>
			</div>
		</div>
	</div>
</div>