<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="assets/img/landing-hero.png" class="landing-hero">
		</div>
		<div class="col-md-6">
			<div class="mt40">
				<h1 class="brand-header">Kerala needs</h1>
				<h1 class="brand-header">Your Time</h1>
			</div>
			<div class="mt30">
				<p class="section-desc-lg">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
			<div class="row mt30">
				<div class="col-md-5">
					<a class="btn btn-primary" (click)="showLoginModal=true">
						Pledge your time
					</a>
				</div>
			</div>
			<div class="row mt30">
				<div class="col-md-3">
					<h3 class="relative display-table section-header-md brand-hightlight-separator">672</h3>
					<p class="section-desc-md serif-regular c-grey-dark mt25">People</p>
				</div>
				<div class="col-md-3">
					<h3 class="relative display-table section-header-md brand-hightlight-separator">238</h3>
					<p class="section-desc-md serif-regular c-grey-dark mt25">Projects</p>
				</div>
				<div class="col-md-3">
					<h3 class="relative display-table section-header-md brand-hightlight-separator">480K</h3>
					<p class="section-desc-md serif-regular c-grey-dark mt25">Fund Raised</p>
				</div>
			</div>
		</div>
	</div>
</div>

	<section class="landing-listing-container mt70">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="brand-header brand-header-md serif-bold">The List</h1>
				</div>
			</div>

			<!-- <div class="mt30 mb20">
				<div class="row">
					<div class="col-md-10">
						<input type="text" class="form-control landing-search" placeholder="Search by name, skills or location..." name="">
					</div>
					<div class="col-md-2 align-right">
						<a class="section-desc-md relative t15 normal-link">Filter by skill</a>
					</div>
				</div>
			</div> -->

			<div class="row mt40 mb60">
				<div class="col-md-4" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
					<div class="brand-card profile-card center mb25">
						<img src="assets/img/dp.jpg" class="profile-card-dp circular mb15">
						<h5 class="profile-card-header c-grey-dark mb5">Anoop Sethumadhavan</h5>
						<p class="profile-card-desc c-grey-semi-dark mb5">Jr. Sorcerer & Developer at Kamar Taj</p>
						<p class="profile-card-loc c-grey-no-dark">Bengaluru</p>
						<div class="mt25">
							<a class="skill-tag">HTML</a>
							<a class="skill-tag">CSS</a>
							<a class="skill-tag">Javascript</a>
							<a class="skill-tag">Angular</a>
							<a class="skill-tag">Django</a>
						</div>
						<div class="profile-card-cta-container">
							<div class="row">
								<a class="col-xs-6 btn btn-ghost normal-link" href="https://en.wikipedia.org/wiki/Doctor_Strange" target="_blank">Portfolio</a>
								<a class="col-xs-6 btn btn-ghost normal-link" (click)="showLoginModal=true">Contact</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



<modal [(visible)]="showLoginModal" [size]="'small'">
    <div class="modal-body pt30">
		<div class="row">
			<div class="col-md-12">
    			<h2 class="section-header-sm font-regular c-grey-semi-dark m0 mb20">Connect with social networks</h2>
			</div>
			<div class="col-xs-6 pr7">
				<a class="btn btn-sm sm-google center mb20">Connect with Google</a>
			</div>
			<div class="col-xs-6 pl7">
				<a class="btn btn-sm sm-facebook center">Connect with Facebook</a>
			</div>
			<div class="col-md-12 mt15">
    			<h2 class="section-header-sm m0 font-regular mb20 c-grey-semi-dark">Or Signup with email</h2>
			</div>
			<div class="col-xs-6 pr7">
				<input type="text" class="form-control mb15" placeholder="First name" name="">
			</div>
			<div class="col-xs-6 pl7">
				<input type="text" class="form-control mb15" placeholder="Last name" name="">
			</div>	
			<div class="col-xs-6 pr7">
				<input type="text" class="form-control mb15" placeholder="Email address" name="">
			</div>
			<div class="col-xs-6 pl7">
				<input type="text" class="form-control mb15" placeholder="Password" name="">
			</div>	
			<div class="col-xs-12">
				<a class="btn btn-primary">Sign me up</a>
			</div>
			<!-- <div class="col-xs-12 mt20 center">
				<a class="section-header-sm c-grey-semi-dark">Already a member? Log in</a>
			</div> -->			
		</div>    	
    </div>
</modal>